@import url("./variables.css");
@import url("./components.css");
@import url("./layout.css");
@import url("./font.css");


.rain-diagram {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rain-diagram img {
    width: 640px;
    height: 436px;
}

.rain-diagram p {
    padding: 88px 0px;
}

.rain-diagram h3 {
    padding-bottom: 24px;
}

.comp-diagram {
    padding: 0px 0px 88px 0px;
}

.diagrams {
    display: flex;
    flex-direction: row;
    padding: 0px 0px 88px 0px;
    justify-content: space-between;

}

.diagrams h3 {
    text-align: center;
    padding-bottom: 24px;
}

.diagrams p {
    padding-bottom: 24px;
}

.comp-diagram img {
    width: 519px;
}

.activities {

    width: 519px;
    display: flex;
    flex-direction: column;
}



.expenses {
    width: 519px;
    display: flex;
    flex-direction: column;

}

.card-rain {
    width: 640px;
    height: 436px;
    border-radius: 53px;
    box-shadow: -2px 4px 11.6px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 519px;
    height: 471px;
    border-radius: 53px;
    box-shadow: -2px 4px 11.6px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Mobile */

@media screen and (min-width: 319px) and (max-width: 499px) {



    .rain-diagram {
        padding: 0px 15px 30px 15px;
    }

    .rain-diagram img {
        height: auto;
        width: calc(100vw - 24px);

    }

    .card-rain {
        height: auto;
        aspect-ratio: 640/436;
        width: calc(100vw - 24px);
        height: auto;
        border-radius: 30px;
    }

    .rain-diagram p {
        padding: 30px 0px 0px 0px;
    }

    .comp-diagram {
        padding: 0px 15px 30px 15px;
    }

    .comp-diagram img {
        width: calc(100vw - 24px);
    }

    .diagrams {
        flex-direction: column;
        padding: 0px 0px 30px 0px;

    }

    .diagrams h3 {
        text-align: center;
        padding-bottom: 16px;
    }

    .diagrams p {
        padding-bottom: 16px;
    }

    .activities {
        height: auto;
        aspect-ratio: 519/471;
        width: calc(100vw - 24px);
        display: flex;
        flex-direction: column;
    }

    .expenses {
        height: auto;
        aspect-ratio: 519/471;
        width: calc(100vw - 24px);
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    .card {
        height: auto;
        aspect-ratio: 519/471;
        width: calc(100vw - 24px);
        height: auto;
        border-radius: 30px;
    }

}

@media screen and (min-width: 500px) and (max-width: 767px) {

    .rain-diagram {
        padding: 0px 30px 30px 30px;
    }

    .rain-diagram img {
        height: auto;
        width: calc(100vw - 60px);
    }

    .card-rain {
        height: auto;
        aspect-ratio: 640/436;
        width: calc(100vw - 60px);
        height: auto;
        border-radius: 30px;
    }

    .rain-diagram p {
        padding: 32px 0px 0px 0px;
    }

    .comp-diagram {
        padding: 0px 30px 30px 30px;
    }

    .comp-diagram img {
        width: calc(100vw - 60px);
    }

    .diagrams {
        flex-direction: column;
        padding: 0px 0px 32px 0px;

    }

    .diagrams h3 {
        text-align: center;
        padding-bottom: 16px;
    }

    .diagrams p {
        padding-bottom: 30px;
    }

    .activities {
        height: auto;
        aspect-ratio: 519/471;
        width: calc(100vw - 60px);
        display: flex;
        flex-direction: column;
    }

    .expenses {
        height: auto;
        aspect-ratio: 519/471;
        width: calc(100vw - 60px);
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    .card {
        height: auto;
        aspect-ratio: 519/471;
        width: calc(100vw - 60px);
        height: auto;
        border-radius: 30px;
    }

}

@media screen and (min-width: 768px) and (max-width: 899px) {

    .rain-diagram img {
        height: auto;
        width: calc(100vw - 24px);
    }

    .card-rain {
        height: auto;
        aspect-ratio: 640/436;
        width: calc(100vw - 60px);
        height: auto;
        border-radius: 30px;
    }

    .rain-diagram p {
        padding: 30px 0px 0px 0px;
    }

    .rain-diagram {
        padding: 0px 30px 32px 30px;
    }

    .comp-diagram {
        padding: 0px 30px 24px 30px;
    }

    .comp-diagram img {
        width: calc(100vw - 60px);
    }

    .diagrams {
        flex-direction: column;
        padding: 0px 0px 32px 0px;

    }

    .diagrams h3 {
        text-align: center;
        padding-bottom: 16px;
    }

    .diagrams p {
        padding-bottom: 16px;
    }

    .activities {
        height: auto;
        aspect-ratio: 519/471;
        width: calc(100vw - 60px);
        display: flex;
        flex-direction: column;
    }

    .expenses {
        height: auto;
        aspect-ratio: 519/471;
        width: calc(100vw - 60px);
        display: flex;
        flex-direction: column;
        padding-top: 32px;
    }

    .card {
        height: auto;
        aspect-ratio: 519/471;
        width: calc(100vw - 60px);
        height: auto;
        border-radius: 30px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1023px) {

    .rain-diagram img {
        height: auto;
        width: calc(100% - 32px);
        aspect-ratio: 640/436;
    }

    .card-rain {
        height: auto;
        aspect-ratio: 640/436;
        width: 75%;
        border-radius: 30px;
    }

    .rain-diagram p {
        padding: 30px 0px 0px 0px;
    }

    .rain-diagram {
        padding: 0px 30px 32px 30px;
    }

    .comp-diagram {
        padding: 0px 30px 24px 30px;
    }

    .diagrams {
        padding: 0px 0px 32px 0px;

    }

    .diagrams h3 {
        text-align: center;
        padding-bottom: 16px;
    }

    .diagrams p {
        padding-bottom: 16px;
    }

    .activities {
        height: auto;
        aspect-ratio: 519/471;
        width: calc((100% - 50px) / 2);
        display: flex;
        flex-direction: column;
    }

    .expenses {
        height: auto;
        aspect-ratio: 519/471;
        width: calc((100% - 50px) / 2);
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }

    .card {
        margin-top: auto;
        height: auto;
        aspect-ratio: 519/471;
        width: 100%;
        height: auto;
        border-radius: 30px;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1299px) {
    main {
        padding: 0px 120px;
    }

    .rain-diagram img {
        height: auto;
        width: 100%;
        aspect-ratio: 640/436;
    }

    .rain-diagram p {
        padding: 50px 0px 0px 0px;
    }

    .rain-diagram {
        padding: 0px 0px 50px 0px;
    }

    .comp-diagram {
        padding: 0px 0px 50px 0px;
    }

    .diagrams {
        padding: 0px 0px 50px 0px;

    }

    .diagrams h3 {
        text-align: center;
    }

    .activities {
        height: auto;
        aspect-ratio: 519/471;
        width: calc((100% - 70px) / 2);
        display: flex;
        flex-direction: column;
    }

    .expenses {
        height: auto;
        aspect-ratio: 519/471;
        width: calc((100% - 70px) / 2);
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }

    .card {
        margin-top: auto;
        height: auto;
        aspect-ratio: 519/471;
        width: 100%;
        height: auto;
        border-radius: 30px;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1399px) {

    .activities {
        height: auto;
        aspect-ratio: 519/471;
        width: calc((100% - 122px) / 2);
        display: flex;
        flex-direction: column;
    }

    .expenses {
        height: auto;
        aspect-ratio: 519/471;
        width: calc((100% - 122px) / 2);
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }

    .card {
        margin-top: auto;
        height: auto;
        aspect-ratio: 519/471;
        width: 100%;
        height: auto;
        border-radius: 30px;
    }
}