@import url("./variables.css");

main {
    padding: 40px 120px;
}

.headcontent {
    width: 100%;
    display: flex;
    gap: 40px;
    padding-bottom: 20px;
}

.headline {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.headline>p {
    font-size: 28px;
}

.datacards-wrapper {
    display: flex;
    gap: 32px;

    padding-top: 40px;
}

.datacard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.datacard img {
    width: 16px;
    height: 18px;
}

.datacard p {
    font-size: 16px;
}

.author {
    width: 20%;
    height: auto;
}

.video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 88px;
}

.video-section p {
    padding-top: 48px;
}

.video-section iframe {
    border-radius: 30px;
    height: 520px;
    width: 930px;
}