.headline-card img {
    width: 16px;
    height: 18px;
}

.headline-card p {
    font-size: 16px;
}

/* main */
.video {
    display: flex;
    flex-direction: column;
    padding: 10px 135px 90px;
}

.stichpunkte {
    padding: 20px 30px;
    font-weight: 400;
    font-family: 'Palanquin';
}

/* footcontent */
.footcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footcontent>h3 {
    width: 40%;
    padding-bottom: 50px;

    color: rgba(84, 55, 13, 1);
    font-family: 'Arima';
    font-size: 24px;
    font-weight: 500;

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* sticky-footbar */
.sticky-footbar {
    position: sticky;
    bottom: 0;
}

.footbar {
    display: none;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: rgba(241, 201, 83, 1);
}


/* tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 40px;
        line-height: 1;
    }

    h2 {
        font-size: 20px;
        line-height: 1;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
        color: rgba(84, 55, 13, 1);
    }

    main {
        padding: 20px;
    }

    .headcontent {
        flex-direction: column;
        align-items: center;
    }

    .video {
        padding: 20px 0px;
    }
}

/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
    h1 {
        font-size: 40px;
        line-height: 1;
    }

    h2 {
        font-size: 20px;
        line-height: 1;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
        color: rgba(84, 55, 13, 1);
    }

    header {
        padding: 0 20px;
        justify-content: center;
    }

    .headline>p {
        font-size: 18px;
        color: rgba(84, 55, 13, 1);
    }

    nav {
        display: none;
    }

    main {
        padding: 15px;
    }

    .headcontent {
        flex-direction: column;
    }


    .maincontent {
        flex-direction: column;
    }

    .video {
        padding: 40px 0;
    }



    .footer {
        padding: 20px;
    }

    .infos {
        flex-direction: column;
    }

    .footbar {
        display: flex;
    }

}