@import url("./variables.css");
@import url("./components.css");
@import url("./layout.css");

h1{
    color: var(--primary-gelb);
}

h2{
    color: var(--primary-green);
}

h3{
    color: var(--secondary-braun);
}