@import url("./variables.css");
@import url("./components.css");
@import url("./layout.css");

h1 {
    color: var(--primary-gelb);
    font-size: 64px;
    font-family: 'Arima';
    line-height: 120%;
}

h2 {
    color: var(--primary-green);
    font-size: 40px;
    font-family: 'Palanquin'
}

h3 {
    color: var(--secondary-braun);
    font-family: 'Arima';
}

.headline {
    padding: 80px 122px 88px 118px;
    display: flex;
    flex-direction: row;
}

.headline h3 {
    font-family: 'Palanquin';
    font-size: 28px;
    line-height: 110%;
    padding-bottom: 40px;

}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 330px;
    font-size: 16px;
}

.icon {
    display: flex;
    gap: 6px;
}

.icon>img {
    width: 16px;
}

.author{
    background-color: var(--background-green);
}

.author img {
    width: 120px;
    border-radius: 50%;

}