/* Header, Footer, Container, Grid/Flexbox-Layout, Headlines, Links */
/* style.css */

@import url("./variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 120%;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Arima";
  font-weight: 700;
  font-size: 64px;
  color: var(--primary-gelb);
  padding-bottom: 8px;
}

h2 {
  font-family: "Palanquin";
  font-size: 40px;
  font-weight: 600;
  color: var(--primary-green);
  padding-bottom: 8px;
}

h3 {
  font-family: "Arima";
  font-weight: 600;
  font-size: 32px;
  color: var(--secondary-braun);
}

h4 {
  font-family: "Palanquin";
  font-weight: 400;
  font-size: 28px;
  color: var(--secondary-braun);
  line-height: 110%;
}

h5 {
  font-family: "Arima";
  font-weight: 400;
  font-size: 18px;
  color: var(--secondary-braun);
  text-align: center;
}

p,
li {
  font-family: "Palanquin";
  font-size: 24px;
  color: var(--primary-black-text);
}

main {
  max-width: 1440px;
  width: 100%;
  padding: 0px 120px;
  margin: 0px auto;
}

.landing-section {
  padding: 80px 0px 80px 0px;
}

.icon {
  display: flex;
  padding-top: 40px;
  gap: 6px;
  font-family: "Palanquin";
  color: var(--secondary-braun);
  height: 100%;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 0px 32px;
  font-size: 16px;
}

.headline {
  display: flex;
  flex-direction: row;
  gap: 26px;
  padding-bottom: 48px;
}

.headline-info h2 {
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  /* gap: 72px; */
  padding: 32px 733px 24px 146px;
  width: 100%;
  height: 128px;

  background-color: var(--primary-green);
}

.header img {
  padding-right: 102px;
  height: 72px;
  width: 174px;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 72px;

  list-style-type: none;
}

.navbar img {
  padding-right: 30px;
  height: 72px;
  width: 102px;
}

.navbar a {
  position: relative;

  padding-bottom: 13px;

  text-decoration: none;

  font-family: Arima;
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-white);
}

.navbar a:active {
  color: var(--primary-gelb);
}

.highlights-link a::after {
  content: "";
  position: absolute;
  left: -5px;
  bottom: -2px;
  width: 112%;
  height: 100%;

  background-image: url(../assets/icons/highlights_underline.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  opacity: 0;
  transform: scaleX(0) rotate(-1deg);
  transform-origin: center;
  transition:
    transform 250ms ease-in-out,
    opacity 250ms ease-in-out;
}

.highlights-link a:hover::after {
  opacity: 1;
  transform: scaleX(1) rotate(-1deg);
}

.faq-link a::after {
  content: "";
  position: absolute;
  left: -5px;
  bottom: -4px;
  width: 125%;
  height: 100%;

  background-image: url(../assets/icons/faq_underline.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition:
    transform 250ms ease-in-out,
    opacity 250ms ease-in-out;
}

.faq-link a:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.contact-link a::after {
  content: "";
  position: absolute;
  left: -6px;
  bottom: -2px;
  width: 112%;
  height: 100%;

  background-image: url(../assets/icons/contact_underline.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  opacity: 0;
  transform: scaleX(0) rotate(1deg);
  transform-origin: center;
  transition:
    transform 250ms ease-in-out,
    opacity 250ms ease-in-out;
}

.contact-link a:hover::after {
  opacity: 1;
  transform: scaleX(1) rotate(1deg);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 128px;
  padding: 60px 120px 60px 120px;
  background-color: var(--primary-green);
}

.infos {
  display: flex;
  align-items: center;
  gap: 72px;

  color: var(--primary-white);
}

.infos a {
  text-decoration: none;
  color: var(--primary-white);

  font-family: Palanquin;
  font-size: 16px;
}

.copyright {
  display: flex;
  justify-content: centser;
  align-items: center;
  gap: 4px;
  padding-right: 26px;
}

.copyright img {
  height: 24px;
  width: 24px;
}

.copyright p {
  font-family: Palanquin;
  font-size: 16px;
  color: var(--primary-white);
}

.social-media {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

@media screen and (min-width: 1441px) {
  .header {
    padding: 32px 0px 24px calc(50% - 720px + 146px);
  }

  .footer {
    padding: 60px max(120px, calc(50% - 720px + 160px));
  }
}

@media screen and (min-width: 319px) and (max-width: 599px) {
  .info {
    justify-content: left;
  }
}

@media screen and (min-width: 900px) and (max-width: 1023px) {
  main {
    padding: 0;
  }

  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px;
    line-height: 120%;
  }

  p,
  li {
    font-size: 22px;
    padding-bottom: 16px;
  }

  .navbar img {
    padding-right: 0;
    width: 56px;
    height: 56px;
  }

  .navbar a {
    padding-bottom: 0;
  }

  .navbar li {
    position: relative;
    top: 7px;
    padding-bottom: 0;
  }

  .social-media img {
    height: 24px;
  }

  .copyright img {
    width: 20px;
    height: 20px;
  }

  .landing-section {
    padding: 24px 30px 32px;
  }

  .headline {
    padding-bottom: 40px;
  }

  .info {
    display: flex;
    gap: 13px;
    padding-right: 0;
  }

  .icon {
    padding-top: 16px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    padding: 30px 24px;
  }

  .infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    order: 1;
  }

  .footer-links a {
    padding-bottom: 8px;
  }

  .copyright {
    order: 2;
    padding: 0;
  }

  .copyright p {
    padding: 0;
  }

  .header {
    height: 70px;
    padding: 0;
    justify-content: center;
  }

  .highlights-link,
  .faq-link,
  .contact-link {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  main {
    padding: 0;
  }

  h1 {
    font-size: 48px;
  }

  h2,
  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
    line-height: 120%;
  }

  p,
  li {
    font-size: 20px;
    padding-bottom: 16px;
  }

  .landing-section {
    padding: 24px 30px 32px;
  }

  .headline {
    flex-direction: column;
    padding-bottom: 40px;
  }

  .info {
    display: flex;
    gap: 13px;
    padding-right: 0;
  }

  .icon {
    padding-top: 16px;
  }

  .header {
    height: 80px;
    padding: 0;
    justify-content: center;
  }

  .navbar img {
    padding-right: 0;
    width: 64px;
    height: 64px;
  }

  .navbar a,
  .navbar li {
    padding-bottom: 0;
  }

  .navbar li {
    position: relative;
    top: 7px;
  }

  .highlights-link,
  .faq-link,
  .contact-link {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    padding: 30px 24px;
  }

  .infos {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .footer-links {
    order: 1;
    display: flex;
    flex-direction: column;
  }

  .footer-links a {
    padding-bottom: 8px;
  }

  .copyright {
    order: 2;
    padding: 0;
  }

  .copyright p {
    padding: 0;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  main {
    padding: 0;
  }

  h1 {
    font-size: 42px;
  }

  h2,
  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
    line-height: 120%;
  }

  p,
  li {
    font-size: 18px;
    padding-bottom: 16px;
  }

  .landing-section {
    padding: 24px 30px 30px;
  }

  .headline {
    flex-direction: column;
    padding-bottom: 30px;
  }

  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 13px;
    padding-right: 0;
    font-size: 18px;
  }

  .icon {
    padding-top: 16px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 134px;
    padding: 30px;
  }

  .infos {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .infos a {
    font-size: 18px;
  }

  .footer-links {
    order: 1;
    display: flex;
    flex-direction: column;
  }

  .footer-links a {
    padding-bottom: 8px;
  }

  .copyright {
    order: 2;
    padding: 0;
  }

  .copyright img {
    width: 22px;
    height: 22px;
  }

  .copyright p {
    padding: 0;
    font-size: 18px;
  }

  .social-media img {
    height: 26px;
  }

  .header {
    height: 70px;
    padding: 0;
    justify-content: center;
  }

  .navbar img {
    padding-right: 0;
    width: 56px;
    height: 56px;
  }

  .navbar a {
    padding-bottom: 0;
  }

  .navbar li {
    position: relative;
    top: 7px;
    padding-bottom: 0;
  }

  .highlights-link,
  .faq-link,
  .contact-link {
    display: none;
  }
}

@media screen and (min-width: 375px) and (max-width: 499px) {
  h1 {
    font-size: 40px;
  }

  h2,
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  p,
  li {
    font-size: 16px;
    color: var(--secondary-braun);
  }

  .info {
    font-size: 16px;
    flex-wrap: wrap;
  }

  .navbar img {
    padding-right: 0;
    width: 56px;
    height: 56px;
  }

  .social-media img {
    height: 24px;
  }

  .copyright img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 319px) and (max-width: 374px) {
  h1 {
    font-size: 36px;
  }

  h2,
  h3 {
    font-size: 19px;
  }

  h4 {
    font-size: 17px;
  }

  p,
  li {
    font-size: 15px;
    color: var(--secondary-braun);
  }

  .info {
    font-size: 15px;
  }

  .social-media img {
    height: 20px;
  }

  .copyright img {
    width: 18px;
    height: 18px;
  }

  .infos a {
    font-size: 15px;
  }

  .copyright p {
    font-size: 15px;
  }
}

@media screen and (min-width: 319px) and (max-width: 499px) {
  main {
    padding: 0;
  }

  h4 {
    line-height: 120%;
  }

  p,
  li {
    padding-bottom: 16px;
    color: var(--secondary-braun);
  }

  .landing-section {
    padding: 24px 15px 32px;
  }

  .headline {
    flex-direction: column;
    padding-bottom: 30px;
  }

  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 13px;
    padding-right: 0;
  }

  .icon {
    padding-top: 8px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 134px;
    padding: 30px 24px;
  }

  .infos {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .footer-links {
    order: 1;
    display: flex;
    flex-direction: column;
  }

  .footer-links a {
    padding-bottom: 8px;
  }

  .copyright {
    order: 2;
    padding: 0;
  }

  .copyright p {
    padding: 0;
  }

  .header {
    height: 70px;
    padding: 0;
    justify-content: center;
  }

  .navbar img {
    padding-right: 0;
    width: 56px;
    height: 56px;
  }

  .navbar a {
    padding-bottom: 0;
  }

  .navbar li {
    position: relative;
    top: 7px;
    padding-bottom: 0;
  }

  .highlights-link,
  .faq-link,
  .contact-link {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1299px) {
  h1 {
    font-size: 52px;
  }

  h2,
  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px;
  }

  p,
  li {
    font-size: 22px;
  }

  .navbar img {
    padding-right: 0;
    width: 56px;
    height: 56px;
  }

  .social-media img {
    height: 24px;
  }

  .copyright img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1109px) {
  .info {
    flex-wrap: wrap;
  }
}